<div class="center">
    <div class="main-contents">
        <p>日々の睡眠を日記化して、改善を図る手助けのサイトです。</p>
        <p>https://www.sogensha.co.jp/productlist/detail?id=3525 の睡眠日記部分をweb化する試みです。</p>
      　<%= link_to t('.signup'), signup_path , class: "btn btn-lg btn-primary" %>
    </div>
</div>